
.inline-msg{
    max-width: 80%;
}
.cou-area, .lan-area{
    max-height: 100%;
}
.cou-cont, .lan-cont{
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 20rem;
    max-height: 40%;
    flex-direction: column;
    border: 1px solid rgb(220,220,220);
}
.cou-search, .lan-search{
    z-index: 1;
    min-height: 2.6rem;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(70,70,70);
    border: 1px solid transparent;
    border-radius: 0;
}
.cou-search,.lan-search:focus{
    outline: none;
    border-bottom: 1px solid rgb(220,220,220);
}
.hide{
    display: none;
}